.overlay
{
    position: fixed;
    width: 100%;
    height: 100%;
}

.login_table
{
    border-style: ridge;
    position: relative;
    top: 5%;
    height: 150px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.btn
{
    height: 30px;
    width: 100%;
}